<p class="font-italic">
  <span class="font-weight-bold">Notice</span>: There is a high degree of uncertainty about the details of COVID-19 infection, transmission, and the effectiveness of social distancing measures. Long-term projections made using this simplified model of outbreak progression should be treated with extreme caution.
</p>
<p>
  The CHIME model was developed by
  <a href="http://predictivehealthcare.pennmedicine.org/" target="_blank">
    Predictive Healthcare
  </a>
  at Penn Medicine to assist hospitals and public health officials with hospital capacity planning. Please read
  <a href="{{ docs_url }}" target="_blank">
    How to Use CHIME
  </a>
  for more information.
</p>
